# Build files #
out/
*.class

# Package files #
# Закомментировано, т.к. иначе пакеты сторонних библиотек не добавляются в
# репозиторий автоматически, а вручную сделать это забываешь. Самое
# главное, что игнорирована директория out (см. выше). Остальные файлы
# пакетов, похоже, как раз таки надо версировать.
#*.jar
#*.war
#*.ear

# IntelliJ IDEA local files #
# Ранее было закомментировано, т.к. "я единственный разработчик проекта и хочу
# синхронизировать состояние рабочей среды между своими компьютерами."
# Однако добавление .idea/workspace.xml в репозиторий доставило больше неудобств,
# чем принесло выгоды. Этот файл изменяется при малейшем действии в IDE, и как
# следствие добиться чистого состояния рабочей директории (когда ни один файл не
# изменен) почти не возможно. Поэтому эти строки раскомментированы,
# а файл .idea/workspace.xml удален из репозитория.
.idea/workspace.xml
